/* style.css */

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.navbar {
	display: flex;
	justify-content: end;
  	background-color: #333;
  	overflow: hidden;
	gap: 1em;
  	padding: 1em;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #555;
}

.content {
  padding: 2em;
  background-color: #fff;
  max-width: 800px;
  margin: 2em auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #eee;
  margin-top: 2em;
  font-size: 0.9em;
  color: #666;
}
